.heart{
    text-align: center;
    color: red;
    font-size: 500px;
     background-color: rgb(243, 141, 238);
  
}
#p{
    text-align: center;
    font-size: 200px;
}
#check{
    text-align: center;
    font-size: 100px;
    transform: scale(3.5);
}
#m{
    text-align: center;
    font-size: 200px;
}
#s{
    text-align: center;
    font-size: 200px;
}
#cont{
    text-align: center;
    font-size: 300px;
}
#cont2{
    text-align: center;
    font-size: 200px;
}
body{
    font-style: italic;
    background-color: rgb(243, 141, 238);
}
.heart{
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-name: slide;
    animation-fill-mode: forwards;
}
@keyframes slide{
  
     50%{
        transform: scale(200%);
    }
}
